/**
 * Harmonisation primary colours
 */
$har-core-green: #97be0d;
$har-dark-green: #166729;
$har-medium-green: #29873c;
$har-medium-green-tint: #afd991;
$har-charcoal: #1a1a1a;
$har-dark-grey: #595959;
$har-medium-grey: #949494;
$har-light-grey: #f6f6f6;
$har-white: #fff;

/**
 * Harmonisation secondary colours
 */
$har-magenta: #d40069;
$har-purple: #803c6e;
$har-diabetes-green: $har-dark-green;
$har-pain-red: #b6181f;
$har-skin-teal: #96c7c4;
$har-winter-blue: #1b9fd0;
$har-summer-yellow: #fdc500;
$har-summer-orange: #fd762e;
