.App {
  width: 900px;
  margin: auto;

  table {
    border-collapse: collapse;
    border: 2px solid black;

    th {
      background: #d0d0d0;
    }

    tr:nth-child(odd) {
      background: #f0f0f0;
    }

    tr:nth-child(even) {
      background: #e0e0e0;
    }

    td {
      border: 1px solid silver;
      padding: 2px 5px;
    }
  }
}
