@import "palette";

div.top {
  background: $har-medium-green;
  box-shadow: 1px 1px 4px 1px black;
  text-align: center;
  cursor: pointer;
  color: $har-white;
  font-size: 28px;
  font-weight: bolder;
  padding: 5px;
}

.App {
  color: $har-charcoal;
  min-width: 600px;
  max-width: 900px;
  margin: auto;
  .inner {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  h1, .h1 {
    font-size: 2.0em;
    font-weight: bold;
    margin: 0.5em 0;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }

  .INCOMPLETE {
    color: $har-medium-grey;
  }
  .ACCEPTED {
    color: $har-core-green;
  }
  .REJECTED {
    color: $har-pain-red;
  }
  .MANUAL {
    color: $har-winter-blue;
  }

  table.striped {
    border-collapse: collapse;
    border: 2px solid black;

    th {
      background: $har-medium-green-tint;
    }

    tr:nth-child(odd) {
      background: $har-white;
    }

    tr:nth-child(even) {
      background: $har-light-grey;
    }

    td {
      border: 1px solid silver;
      padding: 2px 5px;
    }
  }
}
