.SessionList {
    table {
        width: 100%;
        th {
            font-size: medium;
            border: 1px solid silver;
            border-bottom: 2px solid black;
        }
        tr.selected {
            background: #f0f000;
        }

        tr.SessionListItem:hover {
            cursor: pointer;
            background: #ffff00;
        }
    }
}