.Session {
    table {
        margin: auto;

        td {
            &:first-child {
                font-weight: bold;
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }
    }
}